*{
  margin: 0px;
  padding: 0px;
}
.ant-back-top{
  right: 15px !important;
}
.c-container{
  display: flex;
}
.sidebar{
  position: fixed;
  padding: 20px;
  width: 20%;
  height: 100vh;
  background-color: #91c1ce;
}
.sidebar p{
  margin-bottom: 0px !important;
}
.c-container-wrapper{
  width: 80%;
  margin-left: 18em;
}
.c-container-wrapper-top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}
.c-sidebar-search{
  width: 100%;
}
.c-container-dropdown{
  width: 100%;
}
.c-container-wrapper-bottom{
  text-align: center;
  margin: 20px 0px;
}
.c-container-record{
  display: inline-block;
  text-align: center;
  width: 22%;
  padding: 20px;
  margin: 55px 57px;
  box-shadow: 0 0 4px 2px rgba(38,153,251,.18);
}
.c-container-record-avatar{
  position: relative;
  top: -55px;
}
.c-container-record-avatar img{
  width: 50%;
}
.btn{
  padding: 10px 12px;
  color: #fff;
  background-color:#5cb85c;
  border: 0px;
  outline: 0px;
  border-radius: 4px;
  margin: 10px 0px;
  cursor: pointer;
}
.c-loading{
  width: 50%;
  margin: 10% auto;
}

@media only screen and (max-width:640px) {
  .c-container{
    flex-direction: column;
  }
  .sidebar{
    position: unset;
    width: 100%;
    height: auto;
  }
  .c-container-wrapper{
    width: 100%;
    margin-top: 3em;
    margin-left: 0px;
  }
  .c-container-wrapper-top{
    flex-direction: column;
    margin-bottom: 5em;
  }
  .c-container-record{
    display: block;
    text-align: center;
    width: 70%;
    padding: 10px;
    margin: 8em auto;
  }
}